/* fakecss:C:/Users/andre/gh/mesa/js/components/MesaServerInfiniteScroll.esbuild-svelte-fake-css */
.mesa-scroll-container.svelte-1pq1vjr {
  height: 400px;
  overflow-y: scroll;
}
.mesa-intersector.svelte-1pq1vjr {
  height: 5px;
}
