/* fakecss:C:/Users/andre/gh/mesa/js/components/MesaClient.esbuild-svelte-fake-css */
.sticky.svelte-17wwwme {
  position: sticky;
  top: 0;
  background-color: #242424;
  z-index: 1;
}

/* fakecss:C:/Users/andre/gh/mesa/js/components/MesaServerInfiniteScroll.esbuild-svelte-fake-css */
.mesa-scroll-container.svelte-1pq1vjr {
  height: 400px;
  overflow-y: scroll;
}
.mesa-intersector.svelte-1pq1vjr {
  height: 5px;
}
