/* fakecss:C:/Users/andre/OneDrive/Desktop/mesa/js/components/MesaClient.esbuild-svelte-fake-css */
.sticky.svelte-17wwwme {
  position: sticky;
  top: 0;
  background-color: #242424;
  z-index: 1;
}

/* fakecss:C:/Users/andre/OneDrive/Desktop/mesa/js/components/MesaServerPagination.esbuild-svelte-fake-css */
.sticky.svelte-17wwwme {
  position: sticky;
  top: 0;
  background-color: #242424;
  z-index: 1;
}
